.versions-selector {
  margin: 10px;
  text-align: center;
  margin-top: 25px;
}

.versions-selector a {
  color: white;
  padding: 2px 5px;
  margin-left: 2px;
  background-color: #666;
  text-decoration: none;
  border-radius: 3px;
}

.versions-selector a.active {
  background-color: purple;
}

.logo {
  filter: invert(100%);
  margin: 30px auto 30px auto;
  width: 150px;
}